## Core latex/pdflated auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Intermediate documents:
*.dvi
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux

*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.dep
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

#pdfcomment
*.upa
*.upb

# htlatex
*.4tc
*.idv
*.4ct
*.4blg
*.xref

# pythontex
*.pytxcode
pythontex-filse-*/

# Texpad
*.texpadtmp

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# WinEdt
*.bak
*.sav

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp

# Files for initializing subfolders
# Filename.md


# Version that generates html
Web

# Mac system files
.DS_Store
.Icon*

# Emacs automatic backup files
*~

# Autogenerated equations
eq

# Emacs
*.el

auto

#
_region_.*
*.cuts*

# Custom for CDC papers
*.bibkey
*.tmp
economics.bib

# Custom for ShareLaTeX
latexmkrc

#
BufferStockTheory.bib

# Things marked _pri or private are kept locally only
*_pri
*private

.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/*.*


# Custom for CDC papers
*.bibkey
*.dep

# economics.bib will be nonexistent on local machine, but should exist and be of zero size on remote
# This requires it to exist but be empty on first commit, and ignored thereafter 
economics.bib
*.tmp


# Items below from https://gist.github.com/paulcbetts/2802523
*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain


*.jpg binary
*.png binary
*.gif binary

*.cs -text diff=csharp 
*.vb -text
*.c -text
*.cpp -text
*.cxx -text
*.h -text
*.hxx -text
*.py -text
*.rb -text
*.java -text
*.html -text
*.htm -text
*.css -text
*.scss -text
*.sass -text
*.less -text
*.js -text
*.lisp -text
*.clj -text
*.sql -text
*.php -text
*.lua -text
*.m -text
*.asm -text
*.erl -text
*.fs -text
*.fsx -text
*.hs -text
texmf-local
.git-private-commit
.git-public-commit
docs/Resources/.git-public-commit
draft/chapter/Resources/.git-public-commit
